.textLimitation {
  text-overflow: ellipsis;

  word-break: break-all;

  max-height: 80px;

  overflow: hidden;
  display: -webkit-box;

  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
